<div  class="card overflow-hidden bg-white border rounded shadow-md p-1 group/card  ">
    <div class="cursor-pointer" [routerLink]="['/details', product._id]">
        <img [src]="product.imageCover " class="w-full  rounded-t" [alt]="product.title" />
        <h3 class="text-lg text-green-700 ">{{product.category.name}}</h3>
        <h4 class="line-clamp-1">{{product.title}}</h4>
    <div class="flex justify-between items-center">
        <span >{{product.price}} EGP</span>
        <span> <i class="fas fa-star text-yellow-500"></i> {{product.ratingsAverage}}</span>

    </div>
    </div>


    <button (click)="addProductItemToCart(product._id)" class="btn  translate-y-[130%]  group-hover/card:translate-y-0 ">Add To Cart <i class="fa-solid fa-cart-plus"></i></button>

</div>