<section class="bg-white p-4 ">
  
  <div class="container grid grid-cols-12">
    <div class="col-span-6 col-start-4  bg-gray-800  rounded-lg shadow p-6">
      <div class="flex items-center space-x-4">
         <h2 class="text-2xl text-green-600 text-center">All Orders</h2>
        

      </div>

      


        @for (order of orderDetails; track $index) {
        <div class="bg-gray-700 text-white rounded-2xl shadow-2xl p-5 my-4">
          <h3 class="text-xl text-green-400 mb-2">Order ID: {{ order._id }}</h3>
          <h4 class="text-sm mb-1 text-green-400">Payment: {{ order.paymentMethodType }}</h4>
          <h4 class="text-sm mb-3 text-green-400">Total Price: {{ order.totalOrderPrice }} EGP</h4>

          <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            @for (productItem of order.cartItems; track $index) {
              <div class="bg-gray-300 rounded-xl p-3 shadow">
                <img
                  [src]="productItem.product.imageCover"
                  [alt]="productItem.product.title"
                  class="w-full rounded-xl"
                />
                <h4 class="text-lg text-black mt-2">{{ productItem.product.title }}</h4>
                <p class="text-sm text-black">Count: {{ productItem.count }}</p>
                <p class="text-sm text-black">Price: {{ productItem.price }} EGP</p>
              </div>
            }
      
    
  
    </div>
  </div>
  }  
</div>
</div>

</section>