<nav class=" bg-gray-300 border-gray-200 dark:bg-gray-200  fixed top-0 w-full z-50 transition-all  duration-500" [class.p-2]="!isScrolling">
  <div class="max-w-screen-1xl flex flex-wrap items-center justify-between p-4 ">
    <a
      routerLink="/home"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img src="/images/freshcart-logo.svg" alt="fresh cart logo" />
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden grow w-full md:flex md:w-auto  " id="navbar-default">
      @if (isLogin === true) {
      <ul
        class="font-medium ms-4 flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-3 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-200 md:dark:bg-gray-200 dark:border-gray-800"
      >
        <li>
          <a
            routerLink="/home"
            routerLinkActive="text-whit bg-green-500"
            class="block py-2 px-3 rounded-2xl md:p-1 text-gray-600 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >Home</a
          >
        </li>
        
        <li>
          <a
            routerLink="/products"
            routerLinkActive="text-whit bg-green-500"
            class="block py-2 px-3 rounded-2xl md:p-1 text-gray-600 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >Products</a
          >
        </li>
        <li>
          <a
            routerLink="/categories"
            routerLinkActive="text-whit bg-green-500"
            class="block py-2 px-3 rounded-2xl md:p-1 text-gray-600 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >Categories</a
          >
        </li>
        <li>
          <a
            routerLink="/brands"
            routerLinkActive="text-whit bg-green-500"
            class="block py-2 px-3 rounded-2xl md:p-1 text-gray-600 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >Brands</a
          >
        </li>

        
      </ul>
      }

      <ul
        class="font-medium ms-auto flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-3 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
      

        @if (isLogin === false) {
        <li>
          <a
            routerLink="/login"
            routerLinkActive="text-whit bg-green-500"
            class="block py-2 px-3 rounded-2xl md:p-0 text-gray-600 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >Login</a
          >
        </li>
        <li>
          <a
            routerLink="/register"
            routerLinkActive="text-whit bg-green-500"
            class="block py-2 px-3 rounded-2xl md:p-0 text-gray-600 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >Register</a
          >
        </li>
        } @else {
          <li>
          <a
            routerLink="/cart"
            routerLinkActive="text-green-700"
            class="block  relative py-2 px-3 rounded-2xl md:p-1 text-gray-600 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            > <i class="fas fa-cart-plus text-2xl"></i>
            <span class="absolute  bg-green-700 text-white  text-[12px] rounded-xl p-px top-0 end-0 z-10 "> {{ count ()}}</span>
          </a>
        </li>




        <li class="flex items-center space-x-2">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="block py-2 px-3 rounded-2xl md:p-0 text-gray-600 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
          >
            <i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.youtube.com/"
            target="_blank"
            class="block py-2 px-3 rounded-2xl md:p-0 text-gray-600 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
          >
            <i class="fab fa-youtube"></i
          ></a>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="block py-2 px-3 rounded-2xl md:p-0 text-gray-600 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
          >
            <i class="fab fa-instagram"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/rafek-awny-385868338"
            target="_blank"
            class="block py-2 px-3 rounded-2xl md:p-0 text-gray-600 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
          >
            <i class="fab fa-linkedin-in"></i
          ></a>
        </li>


          


        <li>
          <a
          (click)="signOut()"
            class="block py-2 px-3 cursor-pointer rounded-2xl md:p-0 text-gray-600 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >SignOut</a
          >
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
