<section class="py-14">
    <div class="container">
        <h1 class="text-center text-5xl mb-4 text-green-700"> {{'shop.detailsProduct' | translate }}</h1>
        <div class="grid  sm:grid-cols-12 items-center gap-4 ">

            <div class="col-span-3">
                <img [src]="productDetails.imageCover" class="w-full" [alt]="productDetails.title">
            </div>
            <div class="col-span-9 p-5 m-5 ">
                <h2 class="text-2xl">{{productDetails.title}} </h2>
                <p class="text-gray-800 text-sm my-2">{{productDetails.description}}</p>
                <span>{{productDetails.category?.name}}</span>

                <div class="flex items-center justify-between">
                    <span>{{productDetails.price}}EGP</span>
                    <span>  <i class="fas fa-star text-yellow-500"></i> {{productDetails.ratingsAverage}} </span>

                </div>
                <button  class="btn mt-2" (click)="addProductItemToCart(productDetails._id)"> {{'shop.AddToCart' | translate}}  <i class="fa-solid fa-cart-plus"></i></button>
            </div>

        </div>

    </div>


</section>
