<section>
<div class="container">
    
  <owl-carousel-o [options]="mainOptions" class="p-5 ">
    <ng-template carouselSlide>
        <img src="./shop now/slider 6.avif" class="w-full" alt=""/>
    </ng-template>  
    <ng-template carouselSlide>
        <img src="./shop now/slider 5.avif" class="w-full" alt=""/>
    </ng-template> 
    <ng-template carouselSlide>
        <img src="./shop now/slider 7.avif" class="w-full" alt=""/>
    </ng-template>  
    <ng-template carouselSlide>
        <img src="./images/slide-1.jpg" class="w-full h-[320px]" alt=""/>
    </ng-template> 
    <ng-template carouselSlide>
        <img src="./shop now/slider 4.avif" class="w-full" alt=""/>
    </ng-template>  
    
  </owl-carousel-o>




</div>
</section>