<section class="bg-gray-800 p-10 my-14 md:w-1/2 mx-auto rounded-lg shadow-2xl">
    <h1 class="text-4xl text-center text-green-700 py-5">{{'checkout.checkout' | translate}}</h1>

    <form [formGroup]="checkOutForm" >

        <app-input [element]="'text'" [control]="checkOutForm.get('shippingAddress')?.get('details')"
        [idInput] ="'details'"
        [labelInput] ="'Details'" 
        ></app-input>

        <app-input [element]="'input'" [control]="checkOutForm.get('shippingAddress')?.get('phone')"
        [idInput] ="'phone'"
        [labelInput] ="'Phone'" 
        [typeInput] ="'tel'"
        > 
        {{'checkout. acceptonlyegyptphonenumbers' | translate}}
         </app-input>

        <app-input [element]="'input'" [control]="checkOutForm.get('shippingAddress')?.get('city')"
        [idInput] ="'city'"
        [labelInput] ="'city'" 
        [typeInput] ="'text'"
        
        ></app-input>

        <div class="flex items-center space-x-10 my-5">
             <button class="btn" (click)="submitForm('vis')">{{'checkout.PaymentByVisa' | translate}}</button>
            <button class="btn" (click)="submitForm('cash')">{{'checkout.PaymentBycash' | translate}}</button>
            
        </div>


    </form>

</section>