<section class="py-14">


    <div class="container">

        <h2 class="text-4xl mb-4 text-green-800"> Categories List </h2>

        <div class="parent  mt-4 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
             @for (category of categoriesList; track category._id) {
            
        
             <div class="border border-black rounded-2xl p-2">
             <img [src]="category.image" class="w-full h-[250px]" [alt]="category.name">
             <h3 class="mt-2 text-green-800">{{ category.name }}</h3>
             
        </div>
          
    }


        </div>
        

   
 
    </div>
</section>